@font-face{
    font-family: "Dune Rise";
    src: url("./Fonts/Dune_Rise.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color:rgb(168, 217, 234);
    height: 500px;
    width: 500px;
}


.logo{
    width: 600px;
    height:400px;
    position: relative;
    top: 2000px;
    opacity: 20%;
    z-index: 2;
    left: 400px;
}

.til{
    height:600px;
    width:400px;
    position: relative;
    bottom: 250px;
    z-index: 5;
    left: 1050px;
  
}

h1{
    font-family: "Dune Rise", san-serif;
    color: white;
    position: relative;
    text-align:center;
    bottom: 1000px;
    left: 400px;
    font-size: 100px;
    color: linear-gradient(45 deg, rgb(54, 54, 54), grey, white);
}

.box{
    height: 400px;
    width: 300px;
    background-color:white;
    border-radius: 25px;
    position:absolute;
    bottom: 100px;
    left: 100px;
}
.box1{
    height: 400px;
    width: 300px;
    background-color:white;
    border-radius: 25px;
    position:absolute;
    bottom: 100px;
    left: 450px;
}
.box2{
    height: 400px;
    width: 300px;
    background-color:white;
    border-radius: 25px;
    position:absolute;
    bottom: 100px;
    left: 800px;
}

.box:hover{
    background-color: white;
    transform:scale(1.3);
}

.box1:hover{
    background-color: white;
    transform:scale(1.3);
}

.box2:hover{
    background-color: white;
    transform:scale(1.3);
}

.blink{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border-color: rgb(202, 202, 202);
    position: absolute;
    left: 25px;
    top: 50px;
}

.all{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border-color: rgb(202, 202, 202);
    position: absolute;
    left: 25px;
    top: 50px;
}

.cure{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    border-color: rgb(202, 202, 202);
    position: absolute;
    left: 25px;
    top: 50px;
}

.play-btn{
    background-color: rgb(164, 164, 164);
    height: 30px;
    width: 30px;
    position:relative;
    font-size: 10px;
    color: white;
    text-align: center;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3% ease;
    box-shadow: 0 0 15px rgba(97, 97, 97, 0.4);
    position: absolute;
    left: 130px;
    top: 345px;
}

.playing{
    background: linear-gradient(90deg, #191414, #1DB954)
}

.bar{
    width: 250px;
    height: 8px;
    background: #333;
    position: relative;
    left: 25px;
    top: 320px;
    border-radius: 20px;
    cursor: pointer;

}

.progress{
    height: 100%;
    width: 250px;
    border-radius: 20px;
    background: linear-gradient(90deg, #191414, #1DB954);
}

.progress2{
    height: 100%;
    width: 250px;
    border-radius: 20px;
    background: linear-gradient(90deg, #191414, #1DB954);
}

.progress3{
    height: 100%;
    width: 250px;
    border-radius: 20px;
    background: linear-gradient(90deg, #191414, #1DB954);
}