@font-face{
    font-family: "Dune Rise";
    src: url("./Fonts/Dune_Rise.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body{
    background-color:rgb(168, 217, 234);
    height: 200px;
    width: 400px;
}


.logo{
    width: 800px;
    height:600px;
    position: relative;
    top: 2700px;
    opacity: 50%;
    z-index: 2;
    left: 0px;
}

.till{
    height:600px;
    width:400px;
    position: relative;
    top: -600px;
    z-index: 7;
    left: 1050px;
  
}

nav{
    font-family: "Dune Rise", san-serif;
    color:rgb(255, 255, 255);
    position: relative;
    text-align:center;
    bottom: 1200px;
    left: 400px;
    font-size: 200px;     
}


header{
    font-family: "Dune Rise", san-serif;
    color:rgb(255, 255, 255);
    position: relative;
    text-align:center;
    top: -300px;
    left: 600px;
    font-size: 100px;       
}



.image1{
    width: 600px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 150px;
    top:1400px;
}

.image2{
    width: 450px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 700px;
    top:200px;
}

.image3{
    width: 550px;
    height: 700px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    right: 550px;
    top:400px;
}

.image4{
    width: 550px;
    height: 800px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    left: 650px;
    top:400px;
}

.holder{
    background-color: gray;
    height: 350px;
    width: 700px;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 100px;
}

.holder1{
    background-color: gray;
    height: 350px;
    width: 350px;
    position: absolute;
    left: 50px;
    top: 100px;
}


.text1{
    font-family: "Dune Rise", san-serif;
    font-size: 50px;
    top: 20px;
    position: absolute;
    left: 20px;
    color: rgb(177, 177, 177);

}

.stat{
    height:350px;
    width:350px;
}

.text2{

    font-family: "Dune Rise", san-serif;
    font-size: 50px;
    top: 20px;
    position: absolute;
    left: 20px;
    color: rgb(177, 177, 177);
    text-align: center;

}

.smile{
    height:450px;
    width:350px;
}

.holder2{
    background-color: gray;
    height: 450px;
    width: 350px;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 190px;
}

.text3{
    font-family: "Dune Rise", san-serif;
    font-size: 50px;
    top: 20px;
    position: absolute;
    left: 70px;
    color: rgb(177, 177, 177);
    text-align: center;
}
.holder3{
    background-color: gray;
    height: 450px;
    width: 450px;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 190px;
}

.child{
    height:450px;
    width:450px;
}

.holder4{
    background-color: gray;
    height: 450px;
    width: 450px;
    border-radius: 20px;
    position: absolute;
    left: 50px;
    top: 190px;
}

.friends{
    height:550px;
    width:450px;
}

.text4{
    font-family: "Dune Rise", san-serif;
    font-size: 50px;
    top: 20px;
    position: absolute;
    left: 0px;
    color: rgb(177, 177, 177);
    text-align: center;
}

.text5{
    font-family: "Dune Rise", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 50px;
    position:absolute;
    bottom: 500px;
    left: 150px;

}

.container{
    height: 200px;
    width: 20px;
    background-color:aliceblue;
    position:absolute;
    bottom: 400px;
    left: 50px;
    flex-wrap: wrap;
}

.cover1, .cover2, .cover3, .cover4{
    height: 170px;
    width: 170px;
    bottom:20px;
    flex: auto;
    border-radius: 10px;
    cursor:pointer;
    transition: transform .3s;
}


.cover1:hover, .cover2:hover, .cover3:hover, .cover4:hover{
    transform: scale(1.3);
}

button{
    height: 170px;
    width: 170px;
    bottom:20px;
    flex: auto;
    border-radius: 10px;
    cursor:pointer;
}

.Text7{
    position: absolute;
    bottom: 50px;
    text-align: center;
    width:50%;
    left: 650px;
    font-size: 30px;
    color: rgb(0, 0, 0);

}

.title1{
    text-decoration: none;
    position: absolute;
    bottom: 500px;
    font-size: 50px;
    color:rgb(255, 255, 255);
    font-family: "Dune Rise", sans-serif;
    left: 220px;
}

.title2{
    text-decoration: none;
    position: absolute;
    bottom: 300px;
    font-size: 50px;
    color:rgb(255, 255, 255);
    font-family: "Dune Rise", sans-serif;
    left: 220px;
}

.title3{
    text-decoration: none;
    position: absolute;
    bottom: 150px;
    font-size: 50px;
    color:rgb(255, 255, 255);
    font-family: "Dune Rise", sans-serif;
    left: 220px;
}

.title4{
    text-decoration: none;
    position: absolute;
    bottom: -30px;
    font-size: 50px;
    color:rgb(255, 255, 255);
    font-family: "Dune Rise", sans-serif;
    left: 220px;
}